@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    font-family:
      Inter,
      -apple-system,
      system-ui,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      "Helvetica Neue",
      Arial,
      sans-serif;
  }
}

#nprogress .bar {
  background-color: #020617 !important;
}

:disabled {
  cursor: not-allowed;
}

@layer base {
  :root {
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.new-row {
  animation: fadeIn 1s forwards;
}

.linear-gradient {
  background: linear-gradient(90deg, #41347a 0%, #5d55f2 5%, #ffb5f1 10%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes smhAnimation {
  0% {
    transform: translateX(0);
  }

  12.5% {
    transform: translateX(-6px) rotateY(-5deg);
  }

  37.5% {
    transform: translateX(5px) rotateY(4deg);
  }

  62.5% {
    transform: translateX(-3px) rotateY(-2deg);
  }

  87.5% {
    transform: translateX(2px) rotateY(1deg);
  }

  100% {
    transform: translateX(0);
  }
}

.smh-container {
  -webkit-perspective: 800px;
  perspective: 800px;
}

.smh-card--animate {
  animation: smhAnimation ease-in-out 400ms;
  -webkit-animation-duration: 400ms;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-name: smhAnimation;
  -moz-animation-duration: 400ms;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-name: smhAnimation;
}
